/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h3 {
font-weight: bold; text-transform: uppercase; font-family: inherit; font-size: inherit;
}

p {
font-size: inherit; color: inherit; font-family: inherit; 
}

.image-right {
float: right;
}

.image-left {
float: left;
}

.image-panorama {

}

